@media only screen and (max-width: 900px) {
    .header
    {
        display: flex;
        height: 5%;
        padding-left: 15%;
        justify-content:flex-start;
        align-content: center;
    }
    .header_icon
    {
        min-width: 50px;
        width:5%;
    }
    .section
    {
        display: none;
        
    }
    .hidden_button
    {
        min-width: 50px;
        display:block;
    }

    .hidden_button:hover > .hidden_section
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    
