@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



.container_main
{
    background:url('./assets/wallhaven-exooer.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    height: 600vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title_header
{
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
}
.container_header
{
    width: 100%;
    height: 100vh;
    min-height: 900px;
    min-width: 320px;
}


.header
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(https://static-dm.akamaized.net/assassins-creed/valhalla/prod/71d0d73c5ae8edde84227e117c269cfa.png) 0 0 no-repeat;
    background-position: center center;
    box-shadow: 0.1px 0.1px 0.1px 0.1px black;
    height: 5%;
    width: 100%;
}

.header_el
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    font-size: 130%;
    /* font-style: italic; */
}

.header_el:hover
{
    cursor: pointer;
    box-shadow: 0px 10px 0px 0px whitesmoke;
}

.section
{
    /* background-color: black; DEBUG */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    width: 80%;
}

.hidden_section
{
    display: none;
    flex-direction: column;
    background-color: blacks;
    border-radius: 1%;
    width: 500%;
    height: 500%;
    left:-200%;
    top:100%;
    position: relative;
}

.header_icon
{
    position: relative;
    display: block;
    min-height: 100%;
    height: 100%;
    min-width: 5%;
    width: 5%;
    background: url('./assets/OIP.png') no-repeat;
    background-size: cover;
    background-position: center center;
}



a
{
    color: whitesmoke;
}

.header_el:hover > a
{
    color:white;
}

.hidden_button
{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 5%;
    background: url('./assets/hidden.png') no-repeat;
    background-size: cover;
    background-position: center center;
}


.header_el_hidden
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 130%;
}

.header_el_hidden:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px whitesmoke, 0px 0px 0px 1px whitesmoke;
}


.header_el_hidden:hover > a
{
    color:cadetblue;
}
